<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.o.app.demo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="22" />
    
     <!-- 友盟 BEGIN -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 友盟 END -->

    <application
        android:name=".DemoApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity 
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name=".ShellActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name=".AlertDemoActivity"
            android:screenOrientation="portrait">
        </activity>
        
        <!-- 友盟 BEGIN -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5592083c67e58ed2d10022a3" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="lounien" />
        <!-- 自动更新 -->
        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" />
        <!-- 自动更新 -->
        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 用户反馈 -->
        <activity
            android:name="com.umeng.fb.ConversationActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.umeng.fb.ContactActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <!-- 友盟 END -->
        
    </application>

</manifest>
